/* 針對包含中文的標題設定微軟正黑體 */
body {
  font-family: "SentyVanilla"!important;
}

p {
  font-family: "SentyVanilla"!important;
}

h1 {
    color: blue; /* 將標題顏色設為藍色 */
    font-family: "SentyVanilla"!important;
}
  
h2 {
    color: green; /* 將次標題顏色設為綠色 */
    font-family: "SentyVanilla"!important;
}